@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

$background-color: #fdfcf3; // bg-color
$primary-color: #5e8586; // color
$space: 3px; // input, button: margin, padding, border
$width: 100%; // input, button width

.App {
  font-family: sans-serif;
  background: $background-color url("https://www.pagony.hu/resources/templates/default/assets/webshop/images/page_bg.png") 0px 0px repeat;
  .header {
    background: #96cfce url("https://www.pagony.hu/resources/templates/default/assets/webshop/images/top_bg.png") 0px 0px repeat-x;
    background-size: contain;
    padding: 50px 20px;
  }
  .content {
    background: url("https://www.pagony.hu/resources/templates/default/assets/webshop/images/content_top.png") 0px 0px repeat-x;
    min-height: 16px;
    margin-top: -16px;
    padding: 20px;
  }
  button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    border: none;
    padding: 7px 20px;
    border-radius: $space;
    background: url("https://www.pagony.hu/resources/templates/default/assets/webshop/images/blue_btn_bg.png") 0px 0px repeat;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    margin-bottom: $space;
    cursor: pointer;
    display: block;
    width: $width;
    &.collapser {
      background: url("https://www.pagony.hu/resources/templates/default/assets/webshop/images/orange_btn_bg.png") 0px 0px repeat;
    }
  }
  input {
    width: $width;
    border: 1px dashed #699b9c;
    border-radius: 3px;
    background: $background-color;
    color: $primary-color;
    box-shadow: none;
    margin-bottom: 4px;
    padding: 2px;
  }
  .hidden {
    display: none;
  }
  li {
    margin: 10px;
  }
}
